*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
/tools/androidauto/
/tools/jadx.zip
/tools/jadx/
venv/
app/src/main/assets/carservice_key.pem
thirdparty/
